In [1]:
a=24
print(a)

24

In [5]:
print("i am",a,"years old")

i am 24 years old

In [8]:
a=24
b=16
c=a+b
print(c)

40

In [14]:
a=input("enter a first number")
b=input("enter a second number")
c=a+b
print("the sum is",c) 
# this is string operation

enter a first number 1
enter a second number 34

the sum is 134

In [12]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
c=a+b
print("the sum is",c)

enter a first number 12
enter a second number 23

the sum is 35

In [13]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
c=a*b
print("the sum is",c)

enter a first number 23
enter a second number 12

the sum is 276

In [17]:
num1=float(input("enter a first number"))
num2=float(input("enter a second number"))
c=num1-num2
print("the sum is",c)

enter a first number 34
enter a second number 21

the sum is 13.0

In [19]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
c=a//b
print("the quotient is",c)

enter a first number 54
enter a second number 3

the quotient is 18

In [20]:
num1=float(input("enter a first number"))
num2=float(input("enter a second number"))
c=num1//num2
print("the quotient is",c)

enter a first number 65
enter a second number 54

the quotient is 1.0

In [21]:
a=int(input("enter a first number"))
b=int(input("enter a second number"))
c=a%b
print("the remainder is",c)

enter a first number 54
enter a second number 2

the remainder is 0

In [29]:
a=43
b=21
if(a>b):
    print("a is greate tha b")
else:
    print("b is gretare tha a")

a is greate tha b

In [33]:
password="suma03@gmail.com"
p=input("enter the password:")

if p==password:
    print("welcome")
else:
    print("try again")

enter the password: suma03@gmail.com

welcome

In [34]:
password="suma03@gmail.com"
p=input("enter the password:")

if p==password:
    print("welcome")
else:
    print("get out")

enter the password: sumaa4@gmail.com

get out

In [39]:
password="suma03@gmail.com"
pin=1346
p=input("enter the password")
pi=int(input("enter the code"))
if p==password and pin==pi:
    print("welcome")
else:
    print("try again")

enter the password suma03@gmail.com
enter the code 1346

welcome

In [41]:
password="suma03@gmail.com"
pin=1346
p=input("enter the password")
pi=int(input("enter the code"))
if p==password or pin==pi:
    print("welcome")
else:
    print("try again")
# OR=if one is correct it show welcome

enter the password suma03@gmail.com
enter the code 123

welcome

In [52]:
s="Hello how are you?"
#[start:end] we also consider space
print(s[14:17])

you

In [51]:
s="Hello how are you?"
print(s[-4:-1])

you

In [58]:
s="Hello how are you?"
print(s[-12:-9])

how

In [59]:
len(s)

18

In [65]:
s="Hello how are you?"
for i in range(0,18):
    print(s[i])

H
e
l
l
o

h
o
w

a
r
e

y
o
u
?

In [1]:
fact=1
i=1

while i<=5: #5<=5
    fact*=i #24 #fact=fact*i
    i=i+1 #5
print(fact)

120

In [2]:
fact=1
i=1

while i<=5: 
    fact=fact*i #24 
    i=i+1 #5
print(fact)

120

In [3]:
#COLLECTIONS
#list #mutable(changes are possible ex: add , remove etc),heterogenous,accepts duplicates
list1=[9,90,'like',90.7,True,'like']
print(list1)

[9, 90, 'like', 90.7, True, 'like']

In [11]:
list1=[9,90,'like',90.7,True,'like']
print(list1)
print(list1[4])

[9, 90, 'like', 90.7, True, 'like']
True

In [12]:
list1.append('shree')
print(list1)

[9, 90, 'like', 90.7, True, 'like', 'shree']

In [7]:
list1.insert(4,'suma') #insert(index,element)
print(list1)

[9, 90, 'like', 90.7, 'suma', 'suma', True, 'like']

In [20]:
list1.clear()
list1

[]

In [19]:
list2=[90,45,49,95]
list3=[98,34,66,77]
print(list2+list3+list1)

[90, 45, 49, 95, 98, 34, 66, 77, 9, 90, 90.7, True, 'shree']

In [16]:
print(list2.extend(list3))

None

In [10]:
list3.sort() #sort changes the original list
list3

[34, 66, 77, 98]

In [21]:
#sort changes the original list
#sorted never changes the original list(if we want to make changes we create a new list)
#when elements are over the loop should be for 
#when elements are true or false the loop should comming out =while(condition statement)
list6 = [99,45,12,103,46]
sorted(list6)
list6

[99, 45, 12, 103, 46]

In [6]:
list6 = [99,45,12,103,46]
list7 = sorted(list6) #changes are not reflected in original list
list7 #need to save the changes in different list

[12, 45, 46, 99, 103]

In [7]:
list6

[99, 45, 12, 103, 46]

In [8]:
for i in list6:
    print(i*i)

9801
2025
144
10609
2116

In [9]:
#newlist=[output for listname]
listnew=[i*i for i in list6]

In [10]:
listnew

[9801, 2025, 144, 10609, 2116]

In [11]:
for i in list6:
    print(i/i)

1.0
1.0
1.0
1.0
1.0

In [12]:
listnew=[i/i for i in list6]
listnew

[1.0, 1.0, 1.0, 1.0, 1.0]

In [13]:
listnew=[i*2 for i in list6]
listnew

[198, 90, 24, 206, 92]

In [14]:
squr=[]
for i in list6:
    squr.append(i*i)
squr

[9801, 2025, 144, 10609, 2116]

In [15]:
s=[]
for i in list6:
    if i>50:
        s.append(i*i)

In [16]:
s

[9801, 10609]

In [17]:
#newlist =[output for if]
scl=[i*i for i in list6 if i>50]

In [25]:
scl

[9801, 10609]

In [30]:
marks=[92,78,89,98,100]
grades=[]

for i in marks:
    if i>90:
        grades.append("A") #body of if
    else:
        grades.append("B") #body of else

In [31]:
grades

['A', 'B', 'B', 'A', 'A']

In [28]:
#newlist=[(body of if)(if condition)(else)(body of else)for]
gradeslc=["A" if i>90 else "B" for i in marks]

In [ ]:
gradeslc

if the salary is more than 50000,reduce 10% tax else reduce 5% tax and save remaining salary in a new list

In [34]:
sal=[19000,78000,10000,56000,45000,12000]
fsal=[]
for i in sal:
    if i>50000:
        #sal-sal*10%
        fsal.append(i-i*0.1)
    else:
        #sal-sal*5%
        fsal.append(i-i*0.05)
fsal

[18050.0, 70200.0, 9500.0, 50400.0, 42750.0, 11400.0]

In [37]:
for i in fsal:
    print(i)

18050.0
70200.0
9500.0
50400.0
42750.0
11400.0

In [40]:
fsal=[i-i*0.1 if i>50000 else i-i*0.05 for i in sal]
fsal

[18050.0, 70200.0, 9500.0, 50400.0, 42750.0, 11400.0]

In [43]:
list2=[90,45,49,95]
list4=[89,45,12,23,99,88]
for i,j in zip(list2,list4):
    print(i+j)

179
90
61
118

In [44]:
#tuple (duplicate)
tup1=(34,'hello',90,'h1',90.6)

In [45]:
tup1

(34, 'hello', 90, 'h1', 90.6)

In [46]:
tup2=(90,45,67)
print(max(tup2))
print(min(tup2))
print(len(tup2))

90
45
3

In [47]:
tup3=sorted(tup2)#no sort()
tup3

[45, 67, 90]

In [48]:
#dictionary = key value
dict1={1:"joe",2:"veena",3:"suma"}

In [50]:
dict1={1:"joe",2:"joe",3:"suma"}

In [51]:
dict1

{1: 'joe', 2: 'joe', 3: 'suma'}

In [52]:
dict2={"name":"suma","hobbies":['dancing','sleeping']}
print(dict2['hobbies'])

['dancing', 'sleeping']

In [53]:
dict2.keys()

dict_keys(['name', 'hobbies'])

In [54]:
dict2.values()

dict_values(['suma', ['dancing', 'sleeping']])

In [55]:
dict2.items()

dict_items([('name', 'suma'), ('hobbies', ['dancing', 'sleeping'])])

In [56]:
print(dict2['hobbies'][1])

sleeping

In [57]:
print("suma's hobbies are",dict2['hobbies'])

suma's hobbies are ['dancing', 'sleeping']

In [58]:
#set
s1=[12,34,56,12,67]
s1

[12, 34, 56, 12, 67]

In [59]:
listrep=[90,56,90,34,90,98,56]
s2=set(listrep)
s2

{34, 56, 90, 98}